# ignorar:

# Ipython notebook checkpoints
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files:
/__pycache__/*
*.py[cod]

# logs
logs/*
*.log


*.html
Archivos Pablo/*

Ejemp_pyspark.ipynb
Ejemp_pyspark_v4.ipynb

datosspark/*.ini